<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
    <body>

        <div class="box">
            <h1 style="text-align: center; font-family: 'Segoe UI', Arial, sans-serif;">Login</h1>

                <div th:if="${error}" class="error">
                    <span th:text="${error}"></span>
                </div>

                <form th:action="@{/login}" method="post">

                    <input type="text" name="username" required placeholder="Ingrese su usuario" >
                    <input type="password" name="password" required placeholder="Ingrese su contraseña">
                    <button type="submit">Entrar</button>

                    <a th:href="@{/registro}" class="btn-cancel" style="display: block; margin-top: 15px; text-align: center;">Aún no tienes cuenta? Crea tu cuenta aquí</a>

                </form>   
        </div>
    </body>
</html>